*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 18px;
    height: 100%;
}
.container{
    max-width: 1440px;
    width: 100%;
    padding: 64px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.header__button{
    width: 175px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E8EFF2;
    border: none;
    color: #162542;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
}
.hero__content{
    width: 445px;
    height: 312px;
    flex-shrink: 0;
}
.hero__content h3{
    color: #162542;
    font-family: Barlow;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px; /* 100% */
    text-transform: uppercase;
    width: 445px;
}
.hero__content p{
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    margin-top: 24px;
}
.hero__buttons{
    gap: 40px;
    display: flex;
    align-items:center;
    margin-top: 40px;
}
.hero__button-active{
    border-radius: 8px;
    background: #F16718;
    flex-shrink: 0;
    color: #FFF;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
    padding: 16px 27px;
    border: none;
}
.hero__button{
    border: none;
    color: #8a8c90;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
}
.hero__img  img{
    width: 540px;
    height: 480px;
    flex-shrink: 0;
    border: 20px;
}
.section__container{
    display: flex;
}
.section__content h3{
    color: #162542;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
    text-transform: uppercase;
}
.section__content p{
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.blocks__container{
    align-items: center;
    gap: 30px;
}
.block{
    width: 255px;
    align-items: center;
}
.block img{
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}
.block h4{
    color: #162542;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px; /* 116.667% */
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 24px;
}
.block p{
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
h6{
    margin-left: 545px;
    color: #7B8BAD;
}